.main-event-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 0 15px 0;
}

.event-subcontainer {
    display: flex;
    flex-direction: row;
}

.event-image {
    width: 200px;
    height: 130px;
    max-width: 200px;
    max-height: 130px;
    padding-right: 20px;
    cursor: pointer;
}

.event-actual-info {
    width: 300px;
    font-size: 14px;
    cursor: pointer;
}
