.main-single-group-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#group-detail-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px 20px 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-bottom: 10px;
}

#group-detail-img {
    width: 200px;
    height: 130px;
    max-width: 200px;
    max-height: 130px;
    padding-right: 20px;
}

/* #group-detail-text {
    max-width: 400px;
    width: 400px;
} */

#return-to-groups {
    padding-bottom: 5px;
    align-self: center;
    margin-right: 450px;
}

#group-detail-text > h1 {
    padding-bottom: 5px;
    overflow-wrap: break-word;
}

#group-detail-text > p {
    padding-bottom: 5px;
    color: gray;
    font-size: 14px;
    overflow-wrap: break-word;
}

#group-spiel {
    display: flex;
    flex-direction: column;
    background-color: rgb(234, 232, 232);
    padding: 20px 20px;
    margin: 10px 0px 10px 0px;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 5px;
    max-width: 90vw;
}

#group-spiel > div {
    padding-bottom: 15px;
}

.organizer-label-group {
    font-size: 18px;
    font-weight: bold;
}

#organizer-fn-ln-desc {
    color: gray;
}

#group-desc-mid {
    font-weight: bold;
    overflow-wrap: break-word;
}

#past-events {
    margin-top: 30px;
}

.g-about-label {
    padding-bottom: 3px;
}
@media screen and (max-width: 800px) {
    #return-to-groups {
        width: max-content;
        align-self: flex-start;
        padding-bottom: 10px;
        margin-left: 20px;
    }
    .main-single-group-container {
        max-width: 90vw;
    }
    .event-time-descriptor {
        margin-left: 20px;
    }

}
