/* TODO Add site wide styles */
@import url("https://fonts.cdnfonts.com/css/lato");

/* CSS reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}
html,
body {
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset,
img {
    border: 0;
}
input {
    border: 1px solid #b0b0b0;
    padding: 3px 5px 4px;
    color: #979797;
    width: 190px;
}
address,
caption,
cite,
code,
dfn,
th,
var {
    font-style: normal;
    font-weight: normal;
}
ol,
ul {
    list-style: none;
}
caption,
th {
    text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}
q:before,
q:after {
    content: "";
}
abbr,
acronym {
    border: 0;
}

/* CSS reset */

* {
    font-family: "Lato", sans-serif;
}

h1 {
    font-size: 24px;
    font-weight: bold;
}

/* .decorated-button {
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    padding: 8px 16px;
    background-color: #008294;
    border-color: #008294;
}

.decorated-button:hover {
    background-color: #1b9bac;
    border-color: #1b9bac;
} */

.decorated-button:not(:disabled) {
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    padding: 8px 16px;
    background-color: #008294;
    border-color: #008294;
}

.decorated-button:not(:disabled):hover {
    background-color: #1b9bac;
    border-color: #1b9bac;
}

.button-needs-adjustment:not(:disabled) {
    padding: 0px;
}

.small-button {
    padding: 2px 4px !important;
    margin-right: 3px;
    background-color: #e82a8c !important;
    border-color: #e82a8c !important;
}

.alt-color-button:not(:disabled) {
    background-color: #e82a8c !important;
    border-color: #e82a8c !important;
}

.alt-color-button-2:not(:disabled) {
    background-color: grey !important;
    border-color: grey !important;
}
.alt-color-button-2:not(:disabled):hover {
    background-color: rgb(163, 163, 163) !important;
    border-color: rgb(163, 163, 163) !important;
}

:root {
    background: #ece9e6;
    background: -webkit-linear-gradient(to left, #ffffff, #ece9e6);
    background: linear-gradient(to left, #ffffff, #ece9e6);
    padding-bottom: 10px;
}

/* h2 {
    font-size: 18px;
    font-weight: bold;
} */

/* p,
a,
text,
li {
    font-size: 14px;
} */
