.hidden {
    display: none;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    border-bottom: 1px solid rgb(103, 102, 102);
    padding-bottom: 15px;
}

.nav-elements {
    margin-left: 30px;
    margin-right: 30px;
}

.navbar-2nd-half {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.menu-clickable {
    cursor: pointer;
}
/* #ve-link {
    padding-left: 15px;
} */
