.hidden {
    display: none;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    border-bottom: 1px solid rgb(103, 102, 102);
    padding-bottom: 15px;
}

.nav-elements {
    margin-left: 30px;
    margin-right: 30px;
}

.navbar-2nd-half {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.menu-clickable {
    cursor: pointer;
}

.profile-dropdown {
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
    z-index: 1;
}

.main-menu-user-interaction {
    font-weight: bold;
}

@keyframes growDown {
    0% {
        transform: scaleY(0);
    }
    80% {
        transform: scaleY(1.1);
    }
    100% {
        transform: scaleY(1);
    }
}

.main-dropdown-button {
    border-radius: 20px;
    border: 1px solid black;
    padding: 3px 5px 3px 5px;
    background-color: rgb(230, 229, 229);
    cursor: pointer;
}

/* #ve-link {
    padding-left: 15px;
} */
