.hidden {
    display: none;
}

#home-pic {
    padding-top: 3px;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin-top: 20px;
    border-bottom: 1px solid rgb(103, 102, 102);
    padding-bottom: 15px;
}

.nav-outer-elements {
    margin-left: 30px;
    margin-right: 30px;
}

.navbar-2nd-half {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 5px;
}

.start-new-group-nav {
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    padding: 8px 16px;
    background-color: #008294;
    border-color: #008294;
    text-decoration: none;
}

.start-new-group-nav:hover {
    background-color: #1b9bac;
    border-color: #1b9bac;
}

.menu-clickable {
    cursor: pointer;
}

.profile-dropdown {
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
    z-index: 1;
    position: absolute;
}

.profile-dropdown li {
    padding-top: 2px;
    padding-bottom: 2px;
    overflow-wrap: break-word;
}

.dropdown-items-a {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    border-radius: 8px;
    text-align: center;
}

.main-menu-user-interaction {
    font-weight: bold;
}

@keyframes growDown {
    0% {
        transform: scaleY(0);
    }
    80% {
        transform: scaleY(1.1);
    }
    100% {
        transform: scaleY(1);
    }
}

.main-dropdown-button {
    border-radius: 9999px;
    border: 1px solid black;
    /* padding: 3px 5px 3px 5px; */
    /* background-color: rgb(230, 229, 229); */
    background-color: inherit;
    cursor: pointer;
    /* border-radius: 8px; */
    padding: 8px 16px;
}

.main-dropdown-button:hover {
    background-color: rgb(230, 229, 229);
    border-color: black;
}

@media screen and (max-width: 600px) {
    .nav-outer-elements {
        margin-left: 5px;
        margin-right: 5px;
    }
    .start-new-group-nav {
        padding: 8px 12px;
    }
    .profile-dropdown {
        position: revert;
    }
}

@media screen and (min-width: 600px) {
    .profile-dropdown {
        animation: growDown 300ms ease-in-out forwards;
        z-index: 1;
        position: absolute;
        top: 60px;
        right: 30px;
        padding: 12px;
        width: 150px;
        background-color: white;
        border: 1px solid #e3e1e1;
        border-radius: 12px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    }
}
